.nav-bg {
    background: linear-gradient(90deg, rgba(184,78,245,1) 0%, rgba(246,127,136,1) 50%, rgba(0,168,255,1) 100%);
    font-size: 1.2rem;
}

.link-item {
    color: white;
    padding: 0.5rem 1rem;
}

.link-item:hover {
    background-color: #ff006a;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.branding {
    color: white;
    text-decoration: none;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}

.cartImg{
    height: 6vh;
}

.cart > h{
    color:white;
    padding-right: 0.5rem
}

.cart:hover {
    color:white;
    padding: 1.1rem 0.5rem;
    outline-style: solid;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.user-dropdown:hover {
    background-color: #ff006a;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}