.pageForm{
    width:100%;
    padding: 15px;
    margin: auto;
    height: 100%;
    max-width: 450px;
}

.carousel-item > img { 
    width: 100vw; 
    height: 95vh;
}

.carousel-caption{
    background-color: #56BBEE;
}

.cardImage{
    height: 50vh;  
}

.cardTitle{
    font-size: 1.3em;
}

.cardHoverGradientColor:hover{
    cursor: pointer;
    text-decoration: none; 
}

.cardHoverGradientColor:hover .cardBodyHoverGradientColor{
    background: linear-gradient(90deg, rgba(184,78,245,1) 0%, rgba(246,127,136,1) 50%, rgba(0,168,255,1) 100%);
    color: white;
}

.removeItem{
    color: black
}

.img-thumbnail{
    width: 36vh; 
    height: 200px !important;
    object-fit: cover;
}

.modalheaderAddtoCart {
  color: #099700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.minusButton {
    z-index: 3;
}

.App {
    text-align: center;
}
